.Conteiner {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;             
    flex-direction: column;      
    text-align: center;   
    color: #fff;
    background-color: #555;    
  }
  
  input, .btn .btnDel {
    padding: 10px;             
    margin: 5px;        
    text-align: center;
  }
  